*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  background: transparent;
}

/* html{
  font-size: 62.5%;
} */

body {
  font:300 11px/1.4 'Helvetica Neue', 'sans-serif';
  color: #fff;
  background: rgb(30, 30, 30);
  overflow: hidden;
  overflow-y: scroll;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


